main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.digital-clock {
    font-size: 64px;
    text-align: center;
    height: fit-content;
}

.analogue-clock {
    text-align: center;
    & .ac-border {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
        width: 500px;
        border: 5px solid black;
        border-radius: 50%;
        & .hours {
            /* height: auto;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center; */
            top: -4%;
            left: -2%;
            position: relative;
        }
        & .long-hand, .short-hand {
            position: absolute;
        }
        & .long-hand {
            top: 27.5%;
            height: 220px;
            border: 3px solid black;
        }
        & .short-hand {
            top: 38.5%;
            height: 130px;
            border: 3px solid brown;
            /* visibility: hidden; */
        }
    }
}