* {
    color: black !important;
    font-family:'Verdana', 'Geneva', 'Tahoma', 'sans-serif';
}

html {
    background-color: rgb(80, 80, 80);
}

body{
    margin: 0;
}

main {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#full-screen{
    margin-top: 2rem;
    padding: 0.5rem;
    background-color: blanchedalmond;
    border: 5px solid rgb(255, 210, 140);
    font-size: large;
    font-weight: bolder;
    &:hover{
        background-color: rgb(255, 220, 170);
        border: 5px solid rgb(255, 190, 90);
    }
    &:active{
        background-color: rgb(255, 190, 100);
    }
}

#digital-clock {
    position: relative;
    font-size: 64px;
    text-align: center;
    height: fit-content;
    background-color: rgb(200, 200, 200);
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 20px;
}

#analogue-clock {
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    & #ac-border {
        position: relative;
        height: 300px;
        width: 300px;
        border: 15px solid black;
        border-radius: 50%;
        background-color: rgb(200, 200, 200);
    }
    & #hours {
        position: absolute;
        /* top: 46#5%; */
        top: 44.5%;
        /* left: 48#5%; */
        left: 46%;
    }
    & #wrapper-minute-hand, & #wrapper-hour-hand, & #wrapper-second-hand{
        display:flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 50%;
        width: 50%;
    }
    & #center-point{
        /* visibility: hidden; */
        position: absolute;
        border: 10px solid black;
        border-radius: 50%;
        left: calc(49% - 5px);
    }
}

#minute-hand, #hour-hand, #second-hand {
    position: absolute;
    top: 50%;
    bottom: 50%;
    /* top: calc(49% - 1px);
    left: calc(50% + 5px); */
}
& #minute-hand {
    height: 90px;
    width: 5px;
    background-color: rgba(0, 0, 200, 0.95);
}
& #hour-hand {
    height: 60px;
    width: 7px;
    background-color: rgba(165, 42, 42, 0.95);
}
& #second-hand {
    height: 100px;
    width:3px;
    background-color: rgba(40, 40, 40, 0.95);
}

@media (width > 767px) {
    /* main {
        margin-top: 5vh;
    } */
    #ac-border {
        height: 500px !important;
        width: 500px !important;
    }
    #day, #month, #year {
        background-color: rgba(210, 210, 210, 0.7);
        border: 4px solid rgba(180, 180, 180, 0.7);
        border-radius: 10px;
        position: absolute;
        height: fit-content;
        width: fit-content;
        padding: 5px 10px;
        /* padding-left: 10px;
        padding-right: 10px; */
        font-size: 30px;
    }
    /* .date {
        height: fit-content;
        width:fit-content;
        font-size: 30px;    
    } */
    #day::before, #month::before, #year::before {
        top: -7%;
        left: -4%;
        height: calc(100% + 3px);
        width: calc(100% + 4px);
        /* width: 105%; */
        position: absolute;
        content: '';
        border: 2px solid rgba(150, 150, 150, 0.7);
        border-radius: 10px;
        /* background-color: rgb(200, 200, 200); */
    }
    #day::before{
        width: calc(100% + 4px);
    }
    #month::before{
        left: -5%;
        width: calc(100% + 5px);
    }
    #year::before{
        top: -8%;
        left: -4%;
        height: calc(99.5% + 4px);
        width: calc(100% + 4px);
    }
    #day {
        bottom: 14rem;
        left: 6.5rem;
    }
    #month {
        bottom: 14rem;
        right: 7.5rem;
    }
    #year {
        bottom: 7rem;
        left: 13.5rem;
    }
    #digital-clock {
        margin: 1rem;
        margin-bottom: 1.5rem;
    }
    & #minute-hand {
        height: 200px;
    }
    & #hour-hand {
        height: 130px;
    }
    & #second-hand {
        height: 220px;
    }
    & #hours {
        top: 46.2% !important;
        /* top: 44.5%; */
        left: 47.5% !important;
        /* left: 47.5%; */
    }
}
